body{
  background-color: #F8FFDB;
  text-align: center;


}

table {
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
}

td, th{
  border : 2px solid black;
}

.bottom{
  position:fixed;
  right: 0px;
  bottom: 5px;
  width: 10%;
}
