body{
  text-align: center;
  background-color: #6F38C5;
  font-size: 107%;
}

p{
  text-align: center;
}

div{
 color: white;
 width: 97%;
 background-color: #181818;
 border: solid black;
 border-width: thick;
        }

img{
  /*position: relative; */
  width: 17%;
  float: left;
  object-fit: contain;

}
table {
    margin-left: auto;
    margin-right: auto;
    }



/*********************************************/

.left{
  float: left;
}

.image{
  margin-left: auto;
  margin-top: auto;
  float: left;
}


/*********************************************/
#heading{
  width:19%;
  background-color:#6F38C5;
  border:unset;
}
