body {
  background-image: url("../images/pastel_beige.png");
}

hr  {
  /*border-style: dotted none none;*/
  border-style: double none none;
  border-width: 9px;
  border-color:/*46ED9F*/#7D6E83;

  width: 95%;
}

h1, h3, main {
  text-align: center;
}

p {
  font-size: larger;
  text-align: center;
}

table {
  margin-left: auto;
  margin-right: auto;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
