

#thereminZone {
    background: linear-gradient(90deg, #FEFCF3 0%, #21E1E1 100%);
    height: 200px;
    width: 100%;
    border-style: none;
}

#thereminLogo {
    font-family: 'Holtwood One SC', serif;
}

.slider{
  width: 140%
}

.bottom{
  position:fixed;
  right: 0px;
  bottom: 5px;
  width: 10%;
}
